include ./components/head.pug
body
    .app
        include ./components/navigation.pug
        include ./components/hero.pug
        include ./components/content-2.pug
        include ./components/content-3.pug
        include ./components/qna.pug
        
        include ./components/footer.pug
        