section.latest.pt-4
  .pb-4.border-gray-600
    h3.text-xl.font-semibold.leading-6.text-gray-800 Останні оголошення
  .relative.mx-auto.max-w-7xl
    .grid.max-w-lg.gap-8.mx-auto.mt-12(class='lg:grid-cols-2 lg:max-w-none')
      .flex.flex-col.mb-12.overflow-hidden.cursor-pointer
        a(href='/blog-post')
          .flex-shrink-0
            img.object-cover.w-full.h-48.rounded-lg(src='./img/appartments/thumb_1.jpg' alt='')
        .flex.flex-col.justify-between.flex-1
          a(href='/blog-post')
          .flex-1
            a(href='/blog-post')
              .flex.pt-6.space-x-1.text-sm.text-gray-500
                time(datetime='2020-03-10')  ТРАВЕНЬ 05, 2022 
                span(aria-hidden='true')  &middot; 
                span  16:01 
            a.block.mt-2.space-y-6(href='#')
              h3.text-2xl.font-semibold.leading-none.tracking-tighter.text-neutral-600 Продаю квартиру терміново
              p.text-lg.font-normal.text-gray-500 Терміново продаю квартиру преміум класу в районі органного залу, ціна 150 000$...
              .flex.items-center.mt-6
                div
                  img.inline-block.rounded-full.h-9.w-9(src='https://i.pravatar.cc/150?u=fake2' alt='')
                .ml-3
                  p.text-sm.font-medium.text-gray-700(class='group-hover:text-neutral-600') Артур
      .(class='lg:grid lg:grid-cols-2 lg:gap-8')
        .flex.flex-col.mb-12.overflow-hidden.cursor-pointer
          a(href='/blog-post')
            .flex-shrink-0
              img.object-cover.w-full.h-48.rounded-lg(src='./img/appartments/thumb_2.jpg' alt='')
          .flex.flex-col.justify-between.flex-1
            a(href='/blog-post')
            .flex-1
              a(href='/blog-post')
                .flex.pt-6.space-x-1.text-sm.text-gray-500
                  time(datetime='2020-03-10')  КВІ 29, 2020 
                  span(aria-hidden='true')  &middot; 
                  span 12:25
              a.block.mt-2.space-y-6(href='#')
                h3.text-2xl.font-semibold.leading-none.tracking-tighter.text-neutral-600 3х кімнатна квартира для...
                p.text-lg.font-normal.text-gray-500 Здаю 3х кімнатну квартиру в районі автовокзалу, ціна 15000 + кп...
                .flex.items-center.mt-6
                  div
                    img.inline-block.rounded-full.h-9.w-9(src='https://i.pravatar.cc/150?u=fake1' alt='')
                  .ml-3
                    p.text-sm.font-medium.text-gray-700(class='group-hover:text-neutral-600') Катя
        .flex.flex-col.mb-12.overflow-hidden.cursor-pointer
          a(href='/blog-post')
            .flex-shrink-0
              img.object-cover.w-full.h-48.rounded-lg(src='./img/appartments/thumb_4.jpg' alt='')
          .flex.flex-col.justify-between.flex-1
            a(href='/blog-post')
            .flex-1
              a(href='/blog-post')
                .flex.pt-6.space-x-1.text-sm.text-gray-500
                  time(datetime='2020-03-10')  КВІ 25, 2022 
                  span(aria-hidden='true')  &middot; 
                  span  03:15 
              a.block.mt-2.space-y-6(href='#')
                h3.text-2xl.font-semibold.leading-none.tracking-tighter.text-neutral-600 Квартира в новобудові
                p.text-lg.font-normal.text-gray-500 Продам квартиру в центрі, готова до заселення оснащена всім необхідним
                .flex.items-center.mt-6
                  div
                    img.inline-block.rounded-full.h-9.w-9(src='https://i.pravatar.cc/150?u=fake3' alt='')
                  .ml-3
                    p.text-sm.font-medium.text-gray-700(class='group-hover:text-neutral-600') Юля

section.latest
  .relative.mx-auto.max-w-7xl
    .grid.max-w-lg.gap-8.mx-auto.mt-12(class='lg:grid-cols-2 lg:max-w-none')
      .(class='lg:grid lg:grid-cols-2 lg:gap-8')
        .flex.flex-col.mb-12.overflow-hidden.cursor-pointer
          a(href='/blog-post')
            .flex-shrink-0
              img.object-cover.w-full.h-48.rounded-lg(src='./img/appartments/thumb_5.jpg' alt='')
          .flex.flex-col.justify-between.flex-1
            a(href='/blog-post')
            .flex-1
              a(href='/blog-post')
                .flex.pt-6.space-x-1.text-sm.text-gray-500
                  time(datetime='2020-03-10')  КВІ 29, 2020 
                  span(aria-hidden='true')  &middot; 
                  span 12:25
              a.block.mt-2.space-y-6(href='#')
                h3.text-2xl.font-semibold.leading-none.tracking-tighter.text-neutral-600 2х кімнатна квартира для...
                p.text-lg.font-normal.text-gray-500 Здаю 3х кімнатну квартиру в районі автовокзалу, ціна 15000 + кп...
                .flex.items-center.mt-6
                  div
                    img.inline-block.rounded-full.h-9.w-9(src='https://i.pravatar.cc/150?u=fake4' alt='')
                  .ml-3
                    p.text-sm.font-medium.text-gray-700(class='group-hover:text-neutral-600') Андрій
        .flex.flex-col.mb-12.overflow-hidden.cursor-pointer
          a(href='/blog-post')
            .flex-shrink-0
              img.object-cover.w-full.h-48.rounded-lg(src='./img/appartments/thumb_3.jpg' alt='')
          .flex.flex-col.justify-between.flex-1
            a(href='/blog-post')
            .flex-1
              a(href='/blog-post')
                .flex.pt-6.space-x-1.text-sm.text-gray-500
                  time(datetime='2020-03-10')  КВІ 25, 2022 
                  span(aria-hidden='true')  &middot; 
                  span  03:15 
              a.block.mt-2.space-y-6(href='#')
                h3.text-2xl.font-semibold.leading-none.tracking-tighter.text-neutral-600 Квартира в новобудові
                p.text-lg.font-normal.text-gray-500 Продам квартиру в центрі, готова до заселення оснащена всім необхідним
                .flex.items-center.mt-6
                  div
                    img.inline-block.rounded-full.h-9.w-9(src='https://i.pravatar.cc/150?u=fake5' alt='')
                  .ml-3
                    p.text-sm.font-medium.text-gray-700(class='group-hover:text-neutral-600') Рома
      .flex.flex-col.mb-12.overflow-hidden.cursor-pointer
        a(href='/blog-post')
          .flex-shrink-0
            img.object-cover.w-full.h-48.rounded-lg(src='./img/appartments/thumb_6.jpg' alt='')
        .flex.flex-col.justify-between.flex-1
          a(href='/blog-post')
          .flex-1
            a(href='/blog-post')
              .flex.pt-6.space-x-1.text-sm.text-gray-500
                time(datetime='2020-03-10')  ТРАВЕНЬ 05, 2022 
                span(aria-hidden='true')  &middot; 
                span  16:01 
            a.block.mt-2.space-y-6(href='#')
              h3.text-2xl.font-semibold.leading-none.tracking-tighter.text-neutral-600 Продаю квартиру
              p.text-lg.font-normal.text-gray-500 Квартира район ЖД, 32000 долларів, деталі за номером 064-248-555-44
              .flex.items-center.mt-6
                div
                  img.inline-block.rounded-full.h-9.w-9(src='https://i.pravatar.cc/150?u=fake6' alt='')
                .ml-3
                  p.text-sm.font-medium.text-gray-700(class='group-hover:text-neutral-600') Саша