section.w-full.bg-white
  .relative.items-center.w-full.px-5.py-12.mx-auto.max-w-7xl(class='md:px-12 lg:px-16 lg:py-24')
    .flex.w-full.mx-auto.text-left
      .relative.inline-flex.items-center.mx-auto.align-middle
        .text-center
          h1.max-w-5xl.text-2xl.font-bold.leading-none.tracking-tighter.text-neutral-600(class='md:text-5xl lg:text-6xl lg:max-w-7xl')
            | Ппродаж від власників 
            br.hidden(class='lg:block')
            |             по всій Україні 
          p.max-w-xl.mx-auto.mt-8.text-base.leading-relaxed.text-gray-500
            | Знаходьте найвигідніші пропозиції продажу житла від перевірених власників на нашому сайті.
          .flex.justify-center.w-full.max-w-2xl.gap-2.mx-auto.mt-6
            .mt-3.rounded-lg(class='sm:mt-0')
              button.items-center.block.px-5.py-4.text-base.font-medium.text-center.text-white.transition.duration-500.ease-in-out.transform.bg-blue-600.rounded-xl(class='lg:px-10 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' onclick="window.location='/store'") Хочу купити
            .mt-3.rounded-lg(class='sm:mt-0 sm:ml-3')
              button.items-center.block.px-5.text-base.font-medium.text-center.text-blue-600.transition.duration-500.ease-in-out.transform.border-2.border-white.shadow-md.rounded-xl(class='lg:px-10 py-3.5 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500' onclick="window.location='/new'") Хочу продати
