section.bg-white(class='dark:bg-gray-900').qna
  .container.max-w-4xl.px-6.py-10.mx-auto
    h1.text-4xl.font-semibold.text-center.text-gray-800(class='dark:text-white') Запитання та відповіді
    .mt-12.space-y-8
      .border-2.border-gray-100.rounded-lg(class='dark:border-gray-700')
        button.flex.items-center.justify-between.w-full.p-8
          h1.font-semibold.text-gray-700(class='dark:text-white') Як я можу орендувати житло на вашому сайті? ?
          span.text-gray-400.bg-gray-200.rounded-full
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 12H6')
        hr.border-gray-200(class='dark:border-gray-700')
        p.p-8.text-sm.text-gray-500(class='dark:text-gray-300')
          | У кожному оголошенні на сайті є контакти власника, за допомогою яких можна зв’язатися з ним напряму. У деяких оголошеннях також є можливість відправити онлайн-заявку на бронювання. Переглянути усі варіанти житла, де доступна така можливість, можна в розділі «Онлайн бронювання». 
      .border-2.border-gray-100.rounded-lg(class='dark:border-gray-700')
        button.flex.items-center.justify-between.w-full.p-8
          h1.font-semibold.text-gray-700(class='dark:text-white') Ви можете допомогти з підбором житла?
          span.text-white.bg-blue-500.rounded-full
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6')
      .border-2.border-gray-100.rounded-lg(class='dark:border-gray-700')
        button.flex.items-center.justify-between.w-full.p-8
          h1.font-semibold.text-gray-700(class='dark:text-white') Чи можу я бути впевнений, що власник житла надійний? Ви даєте якісь гарантії?
          span.text-white.bg-blue-500.rounded-full
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6')
      .border-2.border-gray-100.rounded-lg(class='dark:border-gray-700')
        button.flex.items-center.justify-between.w-full.p-8
          h1.font-semibold.text-gray-700(class='dark:text-white') Ціна на сайті відрізняється від тої, яку оголосили по телефону, як я можу залишити скаргу на неактуальність інформації?
          span.text-white.bg-blue-500.rounded-full
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6')
      .border-2.border-gray-100.rounded-lg(class='dark:border-gray-700')
        button.flex.items-center.justify-between.w-full.p-8
          h1.font-semibold.text-gray-700(class='dark:text-white') Я написав відгук, але його не було опубліковано. Чому?
          span.text-white.bg-blue-500.rounded-full
            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6')
